.idea
\#*\#
.\#*
*.egg-info
*.py[co]
.ecr_push_completed
.ecr_push_failed
.init.d
dropin.cache
pip-compile_output.txt
twistd.pid
.pytest_cache/
.venv/
.vscode/
*~
.py3-venv
.env
spider_modules.json
spider_art/dot_files/*
spider_art/gallery/*
/.python-version
.DS_Store
__pycache__
